<div class="post-panel">
	<%= avatar_for(post.user, size: 40) %>
	<%= link_to post.username, post.user %>
	<!-- Wrap post title in h3 -->
	<h3><%= post.title %></h3>
	<p><%= post.body %></p>
	<p><%= post.tag %></p>
</div>
